{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="/static/css/profile-akun.css">
<div class="jumbotron jumbotron-fluid">
  <div class="semua">
    <div class="kiri" align="left">
      <h3 align="left" style="color: white;">halo, {{ user.username }}</h3>
      <div class="list-menu">
        <a>
          <p class="akun" align="left" style="color: black;">&nbsp;<img src="/static/assets/profile-view.png" alt="...">
            &nbsp; Akun </p>
        </a>
        <a href="{% url 'user:builds' request.user.username %}" style="text-decoration: none;">
          <p class="Rakit" align="left" style="color: black;">&nbsp;<img src="/static/assets/profile-laptop.png"
              alt="..." style="margin-top: 10px;"> &nbsp; Rakit </p>
        </a>
        <a href="{% url 'account:logout' %}" style="text-decoration: none;">
          <p class="logout" align="left" style="color: black;">&nbsp;<img src="/static/assets/Logout.png" alt="...">&nbsp; Logout
          </p>
        </a>
      </div>
    </div>

    <div class="kanan" align="right">
      <div>
        <h3 style="font-size: 150%; color: white; font-style: bold;"> Username &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;
          &nbsp;</h3>
        <p class="username" style="font-weight: bold; font-size: 110%;"> &nbsp; &nbsp; &nbsp; {{ request.user.username}}
        </p>
      </div>
      <div>
        <h3 style="font-size: 150%; color: white; font-style: bold;"> Email &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp;</h3>
        <p class="username" style="font-weight: bold; font-size: 110%;"> &nbsp; &nbsp; &nbsp;
          {{ request.user.email }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}