
{% extends 'base.html' %}

{% block content %} 
<center>
    <div class="rowi">
            <h1 style="color:white; "  class="judul">Simulasi Rakit PC</h1> <br>
            <h3 style="color:white;" > Pilih Komponen Pc</h3>
    </div>
            
</center>
  

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/static/cobaa/preview.css">



	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				
			</div>
			<div class="row">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						    	<th>&nbsp;</th>
						    	
						    	<th>Nama Komponen</th>
						      <th>Harga</th>
						      
						      <th>&nbsp;</th>
                              <th>Link Produk</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">

						    	<td>
						    		<div class="img" style="background-image: url(/static/cobaa/produk.png);"></div>
						    	</td>
						      <td>
						      	<div class="email" >
						      		<span>AMD Ryzen Threadripper 3990X, Unlocked Desktop Processor without Cooler </span>
						      		<span>Brand : Amd &nbsp;&nbsp; core : 64 &nbsp;&nbsp; tdp : 250w <br>
                                         thread : 128 &nbsp;&nbsp; tipe-socket : sTRX4
                                      </span>
						      	</div>
						      </td>
						      <td>RP.1.770.130,00</td>
						      <th>&nbsp;</th>
				          <td >  <img src="/static/cobaa/shopee-logo.png" alt="">  <img src="/static/cobaa/tokped-logo.png" alt=""> </td>
						      <td>
						      
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    
						    	<td>
						    		<div class="img" style="background-image: url(/static/cobaa/mobo.png);"></div>
						    	</td>
						      <td>
						      	<div class="email" >
						      		<span>Asus ROG X570 Crosshair VIII Hero (Wi-Fi) ATX Motherboard with PCIe 4.0 </span>
						      		<span>Brand : Asus &nbsp;&nbsp; core : 64 &nbsp;&nbsp; tdp : 250w <br>
                                         thread : 128 &nbsp;&nbsp; tipe-socket : sTRX4
                                      </span>
						      	</div>
						      </td>
						      <td>RP.1.214.000,00</td>
						      <th>&nbsp;</th>
				          <td><img src="/static/cobaa/shopee-logo.png" alt="">  <img src="/static/cobaa/tokped-logo.png" alt=""></td>
						      <td>
						      
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	<td>
						    		<div class="img" style="background-image: url(/static/cobaa/cooler.png);"></div>
						    	</td>
						      <td>
						      	<div class="email" >
						      		<span>COOLER MASTER - MASTERBOX NR200 WHITE | Mini-ITX Case </span>
						      		<span>Brand : master &nbsp;&nbsp; core : 64 &nbsp;&nbsp; tdp : 250w <br>
                                         thread : 128 &nbsp;&nbsp; tipe-socket : sTRX4
                                      </span>
						      	</div>
						      </td>
						      <td>RP.2.214.000,00</td>
						      <th>&nbsp;</th>
				          <td><img src="/static/cobaa/shopee-logo.png" alt="">  <img src="/static/cobaa/tokped-logo.png" alt=""> </td>
						      <td>
						      
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">

						    	<td>
						    		<div class="img" style="background-image: url(/static/cobaa/vga.png);"></div>
						    	</td>
						      <td>
						      	<div class="email" >
						      		<span>EVGA GeForce GTX 1660 Super Sc Ultra Gaming, 6GB GDDR6, Dual Fan </span>
						      		<span>Brand : Nvidia &nbsp;&nbsp; core : 64 &nbsp;&nbsp; tdp : 250w <br>
                                         thread : 128 &nbsp;&nbsp; tipe-socket : sTRX4
                                      </span>
						      	</div>
						      </td>
						      <td>RP.3.214.000,00</td>
						      <th>&nbsp;</th>
						      <td><img src="/static/cobaa/shopee-logo.png" alt="">  <img src="/static/cobaa/tokped-logo.png" alt="">
				        	</td>
						    </tr>

						    <tr class="alert" role="alert">
						    	
						    	<td class="border-bottom-0">
						    		<div class="img" style="background-image: url(/static/cobaa/ram.png);"></div>
						    	</td>
						      <td class="border-bottom-0">
						      	<div class="email">
                                    <span>TEAMGROUP T-FORCE DARKZ ALPHA 2X8GB 3200- BLACK  </span>
						      		<span>Brand : Teamgroup &nbsp;&nbsp; core : 64 &nbsp;&nbsp; tdp : 250w <br>
                                         thread : 128 &nbsp;&nbsp; tipe-socket : sTRX4
                                      </span>
						      		
						      	</div>
						      </td>
						      <td class="border-bottom-0">RP.4.214.000,00 </td>
						      <th>&nbsp;</th>
				          <td class="border-bottom-0"><img src="/static/cobaa/shopee-logo.png" alt="">  <img src="/static/cobaa/tokped-logo.png" alt=""></td>
						      <td class="border-bottom-0">

				        	</td>
						    </tr>
							
						  </body>
						</table>
					</div>

                    <div>
                        <p class="info-harga" align="center" style="color: black;"> Jumlah Estimasi Harga adalah  RP.69.420.000,00 </p>
                        <button class="simpan-build" align="center " style="color: black;">simpan</button>
                    </div>

				</div>
			</div>
		</div>
	</section>

	<script src="/static/cobaa/jquery.min.js"></script>
  <script src="/static/cobaa/popper.js"></script>
  <script src="/static/cobaa/bootstrap.min.js"></script>
  <script src="/static/cobaa/main.js"></script>




{% endblock %}