.jumbotron {
	background-color: 313954;
	background-size: cover;
	height:1000px;
	
}

h2{
	color: linear-gradient(90deg, #5916C6 23.96%, #E22AAC 100%);	
	
}
.semua{
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	flex-wrap: wrap;
}
 