.jumbotron {
	background-color: 313954;
	background-size: cover;
	height: 100%;
}

.semua{
  align-self: center;
  display: flex;
	margin-top: 15%;
	margin-left: 10%;
	margin-right: 10%;
	flex-wrap: nowrap;
}
.list-menu{
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 700;
  font-size: 20;
  min-width: 250px;
  height: 190px;

  margin-top: 10px;
  background: #FFFFFF;
  border-radius: 8px;
  filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.25));
  float: left;
}


.kiri {
  padding: 26px 0px 32px 32px;
}

.kanan {
  padding: 26px 0px 32px 32px;
}


.akun{
	margin-top: 10px;
	height: 41px;
	justify-self: left;
  background-color: #E5E8F2;
}

.rakit{
  margin-top: 10px;
  height: 41px;
  justify-self: left;
}

.logout{
  margin-top: 10px;
	height: 41px;
	justify-self: left;
}


blockquote {
color: white;
text-align: center;
}

.username{
  max-width: 650px;
  height: 48px;
  left: 535px;
  top: 370px;
  text-align: left;
  background: #CBCBCB;
  border: 1px solid #000000;
  box-sizing: border-box;
}